{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto gap-3 bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-xl font-bold mb-4">Add Participant</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="mt-5 w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Save</button>
    </form>
    <a href="{% url 'participant_list' %}" class="block text-center mt-4 text-blue-500">Cancel</a>
</div>
{% endblock %}